//META{"name":"CubesEverywhere","description":"cube theme","author":"X-loade","version":"1.0"}*//

/* for some reason it skipss first change */
.chat-3bRxxu .avatar-large
{
     width: 100px;
}
/* Avatars in chat */
.chat-3bRxxu .wrapper-2F3Zv8
{
    width: 100px;
    height: 60px;
}
.chat-3bRxxu .image-33JSyf, .chat-3bRxxu .wrapper-2F3Zv8
{
     width: 100px;
     height: 50px;
     background-size: cover;
     border-radius: 4px;
}
.contentCozy-3XX413
{
    margin-left: 130px;
}
.containerCozy-jafyvG 
{
    padding-bottom: 8px;
}
/* Avatars in mentions */
.mask-3OgeRz
{
    -webkit-mask: unset;
}
.avatarStatus-3jMZl_
{
    width: 15px;
    height: 15px;
    border-radius: 4px;
}
/* Avatars in server list */
.members-1998pB .image-33JSyf, .members-1998pB .avatarWrapper-3B0ndJ
{
    width: 80px;
    height: 40px;
    border-radius: 3px;
}
.members-1998pB .mask-3OgeRz
{
    -webkit-mask: unset;
}
.members-1998pB .content-OzHfo4
{
    transition: all 400ms ease !important;
}
.members-1998pB .status-2s6iDp
{
    left: 66px;
    bottom: 10px;
    border-radius: 3px;
}
/* Makes avatars in list less cramped */
.member-3W1lQa
{
    height: 45px;
}
.avatar-16XVId
{
    margin-bottom: 3px;
}
 /* Avatars in dirrect message list */
.private-channels .avatar-small
{
     width: 67px;
     height: 37px;
     background-size: cover;
     border-radius: 4px; 
}
/* Avatars in online friends list */
.avatarSmall-3ACRaI,
.avatarSmall-3ACRaI .inner-1W0Bkn
{
     width: 70px;
     height: 35px;
     background-size: cover;
     border-radius: 4px;
}
.avatarSmall-3ACRaI .status-2zcSVk
{
    border-radius: 4px;
}
/* Makes more space for names in  online friends list*/
#friends .friends-table .friends-column-name
{
    width: 400px;
}
/* Your avatar in corner */
.container-2Thooq .avatar-small
{
     width: 67px;
     height: 40px;
     background-size: cover;
     border-radius: 4px;
}

/* Your avatar in settings */
.avatarXXLarge-GhVtwJ,
.avatarXXLarge-GhVtwJ .inner-1W0Bkn
{
    width: 150px !important;
    height: 150px;
    background-size: cover;
    border-radius: 10px;
}
/* Avatar in pre-profile page */
.userPopout-3XzG_A .image-33JSyf,
.userPopout-3XzG_A .flex-1xMQg5
{
    border-radius: 4px;
    -webkit-mask: unset;
    transition: all 400ms ease !important;
}
/* status in pre-profile page */
.avatarStatus-3Ay1VL 
{
    border-radius: 4px;
}
/* status in pre-profile page */
.avatarStatus-3Ay1VL 
{
    border-radius: 4px;
}
/* Avatar in voice */
.avatarDefault-35WC3R,
.avatarSpeaking-1wJCNq
{
    border-radius: 2px;
}
/* Avatar in profile page */
.profile-ZOdGIb .image-33JSyf,
.avatar-3EQepX
{
    width: 150px !important;
    height: 150px;
    background-size: cover;
    border-radius: 10px;
}
/* Status light in profile page */
.header-QKLPzZ  .image-33JSyf
{
    border-radius: 4px;
    -webkit-mask: unset;
}
/* Status light in profile page */
.header-QKLPzZ  .statusProfile-3ynqtt
{
    border-radius: 4px;
}
/* top bar */
.typeWindows-1za-n7
{
    background:  #19298c;
    background-image: url("https://raw.githubusercontent.com/Xloade/DiscordTheme-DN.Cubes/master/ian%20nekos.png");
    background-repeat: no-repeat;
    background-size: 100px 14px;
    background-position: left 61px bottom 3px;
}
/* chat scroll */
.scroller-wrap .scroller::-webkit-scrollbar-thumb, .scroller-wrap .scroller::-webkit-scrollbar-track-piece 
{
    border: 1px solid #fff;
}
.scroller-wrap .scroller::-webkit-scrollbar
{
    width: 10px;
}
/* chat input */
.theme-dark .inner-zqa7da
{
background-color: hsla(218,5%,47%,.1);
}
/* servers slist */
.guildsWrapper-5TJh6A .guild-1EfMGQ .guildInner-3DSoA4
{
    background-color: transparent;
	border-radius: 5px !important;
	transition: all 400ms ease !important;
}
.guildsWrapper-5TJh6A .guild-1EfMGQ .guildInner-3DSoA4:hover 
{
	border-radius: 15px !important;
	background-color: hsla(218,5%,47%,.2);
}
/* background */
.appMount-3lHmkl
{background-image: url("https://raw.githubusercontent.com/Xloade/DiscordTheme-DN.Cubes/master/clanAvatarV6NoBG.png"), url("https://raw.githubusercontent.com/Xloade/DiscordTheme-DN.Cubes/master/background_new.png");background-size: 240px 240px, cover;background-repeat: no-repeat;background-position: left 70px bottom 43px, right top;}
.scroller-fzNley{
   background-color: transparent !important;
}
/*Transparency*/
#voice-connection, 
#friends, 
.friends-header, 
.friends-table, 
.guilds-wrapper, 
.guild-header header, 
.channels-wrap, 
.private-channels .search-bar, 
.private-channels,  
.account, 
.friend-table-add-header,
.chat-3bRxxu,
.chat-3bRxxu form,
.content-yTz4x3, 
.title-wrap:not(.search-bar), 
.messagesWrapper-3lZDfY, 
.messages-3amgkR .divider-3gKybi span, 
.messages-3amgkR .divider-3gKybi:before, 
.content, .message-group-blocked, 
.is-local-bot-message,
.channel-members-loading, 
.channel-members-loading .heading, 
.channel-members-loading .member, 
.typing, 
.container-RYiLUQ, 
.theme-dark .ui-standard-sidebar-view, 
.theme-dark .ui-standard-sidebar-view .sidebar-region,
.theme-dark .ui-standard-sidebar-view .content-region,
.theme-dark .channel-members,
.container-2OU7Cz,
.theme-dark .chat form, 
.channels-3g2vYe, 
.theme-dark .friends-table, 
.theme-dark .messages-wrapper, 
.content .flex-spacer, 
.theme-dark .chat>.content, 
.theme-dark .chat, 
.channel-members, 
.search .search-bar, 
.container-iksrDt, 
.container-3lnMWU, 
.theme-dark .title-qAcLxz, 
.theme-dark .typing-3eiiL_,
.container-2OU7Cz,
.theme-dark .activityFeed-HeiGwL,
.theme-dark .headerBar-cxbhPD,
.theme-dark .lfg-3xoFkI,
.video-3lOWa6,
.theme-dark .private-channel-call,
.appMount-3VJmYg,
.container-2lgZY8,
.channels-Ie2l6A,
.container-2Thooq,
.container-2Thooq,
.theme-dark .title-3qD0b-,
.theme-dark .typing-2GQL18,
.search-bar.search-bar-light,
.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S,
.theme-dark .members-1998pB,
.theme-dark .headerBar-UHpsPw,
.activityFeed-28jde9,
.gameLibrary-TTDw4Y,
.stickyHeader-1pqx0j,
.applicationStore-1pNvnv,
.card-7JP0BX,
.guildsWrapper-5TJh6A,
.standardSidebarView-3F1I7i .da-standardSidebarView,
.sidebarRegion-VFTUkN .da-sidebarRegion,
.theme-dark .standardSidebarView-3F1I7i
{
  background: transparent !important;
}
.theme-dark .card-2WxYqG {
    background-color: rgba(54, 57, 63, 0.3)!important;
}
.theme-dark .layer-3QrUeG, .theme-dark .layers-3iHuyZ,
.typeWindows-15E0Ys {
    background: rgba(0, 0, 0, 0.0) !important;
}
.container-PNkimc,
.container-1UB9sr,
.theme-dark .sidebarRegion-VFTUkN
{
    background: rgba(0, 0, 0, 0.35) !important;
}
/* Activity transparent*/
.body-SKIE6r,
.header-1RC2Wb
{
    background: rgba(79,84,92,.15) !important;
}
/* wall of things that fix tranparancy END*/






















