//META{"name":"CubesEverywhere","description":"cube theme","author":"X-loade","version":"1.0"}*//

/* for some reason it skipss first change */
.chat .avatar-large
{
     width: 100px;
}
/* Avatars in chat */
.chat .avatar-large
{
     width: 100px;
     height: 50px;
     background-size: cover;
     border-radius: 4px;
}
/* Avatars in server list */
.members-1998pB .image-33JSyf, .members-1998pB .avatarWrapper-3B0ndJ
{
    width: 80px;
    height: 40px;
    border-radius: 3px;
}
.members-1998pB .mask-3OgeRz
{
    -webkit-mask: unset;
}
.members-1998pB .content-OzHfo4
{
    transition: all 400ms ease !important;
}
.members-1998pB .status-2s6iDp
{
    left: 66px;
    bottom: -10px;
    border-radius: 3px;
}
/* Makes avatars in list less cramped */
.member-3W1lQa
{
    height: 45px;
}
.avatar-16XVId
{
    margin-bottom: 3px;
}
 /* Avatars in dirrect message list */
.private-channels .avatar-small
{
     width: 67px;
     height: 37px;
     background-size: cover;
     border-radius: 4px; 
}
/* Avatars in online friends list */
.friends-table .friends-row .friends-column-name .avatar-small
{
     width: 100px;
     height: 50px;
     background-size: cover;
     border-radius: 4px;
}
/* Makes more space for names in  online friends list*/
#friends .friends-table .friends-column-name
{
    width: 400px;
}
/* Your avatar in corner */
.container-2Thooq .avatar-small
{
     width: 67px;
     height: 40px;
     background-size: cover;
     border-radius: 4px;
}

/* Your avatar in settings */
.userSettingsAccount-2eMFVR .avatar-xxlarge
{
     width: 180px;
     height: 180px;
     background-size: cover;
     border-radius: 4px; 
}
/* Avatar in pre-profile page */
.headerText-2sdzFM
{
    padding-top: 20px;
    padding-left: 32px !important;
    padding-right: 0px !important;
}
.header-2BwW8b .flex-1xMQg5
{
    width: 250px;
    height: 270px !important;
}
.userPopout-3XzG_A .image-33JSyf,
.userPopout-3XzG_A .flex-1xMQg5,
.userPopout-3XzG_A .avatarWrapper-3H_478,
.userPopout-3XzG_A  .wrapper-2F3Zv8
{
    left: 8px;
    width: 200px;
    height: 200px;
    border-radius: 4px;
    -webkit-mask: unset;
    transition: all 400ms ease !important;
}
/* status in pre-profile page */
.avatarStatus-3Ay1VL 
{
    border-radius: 4px;
}
/* Avatar in voice */
.avatarDefault-35WC3R,
.avatarSpeaking-1wJCNq
{
    border-radius: 2px;
}
/* Avatar in profile page */
.header-QKLPzZ  .image-33JSyf, .header-QKLPzZ  .wrapper-2F3Zv8
{
    width: 200px;
    height: 200px;
    background-size: cover;
}
/* Status light in profile page */
.header-QKLPzZ  .image-33JSyf
{
    border-radius: 4px;
    -webkit-mask: unset;
}
/* Status light in profile page */
.header-QKLPzZ  .statusProfile-3ynqtt
{
    border-radius: 4px;
}
/* top bar */
.typeWindows-1za-n7
{
    background:  #19298c;
    background-image: url("https://raw.githubusercontent.com/Xloade/DiscordTheme-DN.Cubes/master/ian%20nekos.png");
    background-repeat: no-repeat;
    background-size: 100px 14px;
    background-position: left 61px bottom 3px;
}
/* chat scroll */
.scroller-wrap .scroller.messages::-webkit-scrollbar 
{
    width: 5px !important;
}
/* chat input */
.theme-dark .inner-zqa7da
{
background-color: hsla(218,5%,47%,.1);
}
/* guild stuff */
.guilds-wrapper .guilds .guild .guild-inner
{
    background-color: transparent;
}
.guilds-wrapper .guilds .guild .guild-inner
{
	border-radius: 5px !important;
	transition: all 400ms ease !important;
}
.guilds-wrapper .guilds .guild .guild-inner:hover 
{
	border-radius: 15px !important;
	background-color: hsla(218,5%,47%,.2);
}
/* background */
.app,
.callout-backdrop,
.bda-backdrop,
#pubs-container:before 
{background-image: url("https://raw.githubusercontent.com/Xloade/DiscordTheme-DN.Cubes/master/clanAvatarV6NoBG.png"), url("https://raw.githubusercontent.com/Xloade/DiscordTheme-DN.Cubes/master/background_new.png");background-size: 240px 240px, cover;background-repeat: no-repeat;background-position: left 70px bottom 43px, right top;}
.scroller-fzNley{
   background-color: transparent !important;
}
/*Transparency*/
#voice-connection, 
#friends, 
.friends-header, 
.friends-table, 
.guilds-wrapper, 
.guild-header header, 
.channels-wrap, 
.private-channels .search-bar, 
.private-channels,  
.account, 
.friend-table-add-header,
.chat, 
.content, 
.title-wrap:not(.search-bar), 
.messages-wrapper, 
.messages .divider span, 
.messages .divider:before, 
.content, .message-group-blocked, 
.is-local-bot-message,
.channel-members-loading, 
.channel-members-loading .heading, 
.channel-members-loading .member, 
.typing, 
.container-RYiLUQ, 
.theme-dark .ui-standard-sidebar-view, 
.theme-dark .ui-standard-sidebar-view .sidebar-region,
.theme-dark .ui-standard-sidebar-view .content-region,
.theme-dark .channel-members,
.container-2OU7Cz,
.theme-dark .chat form, 
.channels-3g2vYe, 
.theme-dark .friends-table, 
.theme-dark .messages-wrapper, 
.content .flex-spacer, 
.theme-dark .chat>.content, 
.theme-dark .chat, 
.channel-members, 
.search .search-bar, 
.container-iksrDt, 
.container-3lnMWU, 
.theme-dark .title-qAcLxz, 
.theme-dark .typing-3eiiL_,
.container-2OU7Cz,
.theme-dark .activityFeed-HeiGwL,
.theme-dark .headerBar-cxbhPD,
.theme-dark .lfg-3xoFkI,
.video-3lOWa6,
.theme-dark .private-channel-call,
.appMount-3VJmYg,
.container-2lgZY8,
.channels-Ie2l6A,
.container-2Thooq,
.container-2Thooq,
.theme-dark .title-3qD0b-,
.theme-dark .typing-2GQL18,
.search-bar.search-bar-light,
.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S,
.theme-dark .members-1998pB,
.theme-dark .headerBar-UHpsPw{
  background: transparent !important;
}
.theme-dark .card-2WxYqG {
    background-color: rgba(54, 57, 63, 0.3)!important;
}
.theme-dark .layer-3QrUeG, .theme-dark .layers-3iHuyZ,
.typeWindows-15E0Ys {
    background: rgba(0, 0, 0, 0.0) !important;
}
.container-PNkimc,
.container-1UB9sr
{
    background: rgba(0, 0, 0, 0.35) !important;
}
/* wall of things that fix tranparancy END*/


