//META{"name":"CubesEverywhere","description":"cube theme","author":"X-loade","version":"1.0"}*//

/* for some reason it skipss first change */
.chat .avatar-large
{
     width: 100px;
}
/* Avatars in chat */
.chat .avatar-large
{
     width: 100px;
     height: 50px;
     background-size: cover;
     border-radius: 4px;
}
/* Avatars in server list */
.members-1bid1J .image-EVRGPw
{
    width: 80px;
    height: 40px;
    border-radius: 3px;
}
.members-1bid1J .avatar-1BXaQj
{
    width: 80px;
    height: 37px;
}
.members-1bid1J .mask-2vyqAW
{
    -webkit-mask: unset;
}
.members-1bid1J .content-3JzEqq
{
    transition: all 400ms ease !important;
}
.members-1bid1J .status-2Devx1
{
    border-radius: 4px;
}
/* Makes avatars in list less cramped */
.member-2FrNV0
{
    height: 42px;
}
 /* Avatars in dirrect message list */
.private-channels .avatar-small
{
     width: 67px;
     height: 37px;
     background-size: cover;
     border-radius: 4px; 
}
/* Avatars in online friends list */
.friends-table .friends-row .friends-column-name .avatar-small
{
     width: 100px;
     height: 50px;
     background-size: cover;
     border-radius: 4px;
}
/* Makes more space for names in  online friends list*/
#friends .friends-table .friends-column-name
{
    width: 400px;
}
/* Your avatar in corner */
.container-iksrDt .avatar-small
{
     width: 67px;
     height: 40px;
     background-size: cover;
     border-radius: 4px;
}

/* Your avatar in settings */
.userSettingsAccount-2WOnTW .avatar-xxlarge
{
     width: 180px;
     height: 180px;
     background-size: cover;
     border-radius: 4px; 
}
/* Avatar in pre-profile page */
.userPopout-11hFKo .image-EVRGPw,
.userPopout-11hFKo .flex-lFgbSz
{
    border-radius: 4px;
    -webkit-mask: unset;
    transition: all 400ms ease !important;
}
/* status in pre-profile page */
.avatarStatus-3asdLF 
{
    border-radius: 4px;
}
/* Avatar in voice */
.avatarDefault-3jtQoc,
.avatarSpeaking-3teDH6
{
    border-radius: 2px;
}
/* Avatar in profile page */
.header-2Lg0Oe .avatar-1BXaQj
{
    width: 200px;
    height: 200px;
    background-size: cover;
}
/* Status light in profile page */
.header-2Lg0Oe .avatar-1BXaQj .image-EVRGPw
{
    border-radius: 4px;
    -webkit-mask: unset;
}
/* Status light in profile page */
.header-2Lg0Oe .avatar-1BXaQj .status-3jUEha
{
    border-radius: 4px;
}
/* top bar */
.typeWindows-15E0Ys
{
    background-color: #19298c;
}
/* chat scroll */
.scroller-wrap .scroller.messages::-webkit-scrollbar 
{
    width: 5px !important;
}
/* chat input */
.theme-dark .inner-3if5cm
{
background-color: hsla(218,5%,47%,.1);
}
/* guild stuff */
.guilds-wrapper .guilds .guild .guild-inner
{
    background-color: transparent;
}
.guilds-wrapper .guilds .guild .guild-inner
{
	border-radius: 5px !important;
	transition: all 400ms ease !important;
}
.guilds-wrapper .guilds .guild .guild-inner:hover 
{
	border-radius: 15px !important;
	background-color: hsla(218,5%,47%,.2);
}
/* background */
.app,
.callout-backdrop,
.bda-backdrop,
#pubs-container:before 
{
background-image: url("https://raw.githubusercontent.com/Xloade/DiscordTheme-DN.Cubes/master/clanAvatarV6NoBG.png"), url("https://raw.githubusercontent.com/Xloade/DiscordTheme-DN.Cubes/master/background_new.png");
background-size: 240px 240px, cover;
background-repeat: no-repeat;
background-position: left 70px bottom 43px, right top;
}
.scroller-fzNley{
   background-color: transparent !important;
}
/* wall of things that fix tranparancy */
.channels-3g2vYe {
background-color: rgba(0,0,0,0.3);
}
.container-RYiLUQ {
background-color: transparent;
}
.container-2OU7Cz {
background-color: transparent;
}
.theme-dark .layer, .theme-dark .layers {
background: rgba(0,0,0,0.18);
}
.guilds-wrapper {
background-color: transparent;
}
.theme-dark .chat form .typing {
background-color: transparent;
}
.theme-dark .chat form {
background-color: transparent;
box-shadow: none;
}
.theme-dark .chat>.content {
background-color: transparent;
}
.theme-dark .chat {
background-color: transparent;
}
.chat .messages {
background: transparent;
}
.theme-dark .friends-table, .theme-dark .messages-wrapper {
background-color: transparent;
}
.theme-dark .title-qAcLxz {
background: transparent;
box-shadow: none;
}
.theme-dark #friends {
background-color: transparent;
}
.theme-dark .headerBar-cxbhPD {
background: transparent;
}
.theme-dark .ui-standard-sidebar-view .content-region {
background: transparent;
}
.theme-dark .ui-standard-sidebar-view .sidebar-region {
background: transparent;
}
.theme-dark .ui-standard-sidebar-view {
background: transparent;
}
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece {
background-color: transparent;
border-color: transparent;
}
.theme-dark .channel-members-loading[style*="opacity: 1;"] {
/background: transparent !important;
}
.theme-dark .channel-members-loading .member,.theme-dark .channel-members-loading .heading,.theme-dark .channel-members-loading .member:nth-child(3n+2), .theme-dark .channel-members-loading .member:nth-child(7n+4),.theme-dark .channel-members-loading .member:nth-child(2n-4), .theme-dark .channel-members-loading .member:nth-child(7n-1) {
background: transparent;
}
.theme-dark .channel-members-loading .background {
background-image: linear-gradient(90deg,rgba(0, 0, 0, 0),rgba(247,0,0,.6),rgba(0, 0, 0, 0));
}
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece {
background-color: transparent;
border-color: transparent;
}
.layers-20RVFW, .layer-kosS71, .container-2OU7Cz, .typing-3eiiL_ {
  background: transparent !important;
}
/* optionally adjust background brightness (0: original image, 1: black) */
.layers-20RVFW {
  background: rgba(0,0,0, 0) !important;
}
/* wall of things that fix tranparancy END*/
